body>.header .logo {
    font-family: inherit
}

body .user-panel>.info {
    padding-left: 10px
}

body a.asc:after,body a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: Glyphicons Halflings;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    padding-left: 5px
}

body a.asc:after {
    content: "\e151"
}

body a.desc:after {
    content: "\e152"
}

body .sort-numerical a.asc:after {
    content: "\e153"
}

body .sort-numerical a.desc:after {
    content: "\e154"
}

body .sort-ordinal a.asc:after {
    content: "\e155"
}

body .sort-ordinal a.desc:after {
    content: "\e156"
}

body .grid-view th {
    white-space: nowrap
}

body .hint-block {
    display: block;
    margin-top: 5px;
    color: #999
}

body .error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px
}

body .fa,body .far,body .fas,body .svg-inline--fa {
    margin-right: 6px
}

body .fa .fa-angle-left,body .far .fa-angle-left,body .fas .fa-angle-left,body .svg-inline--fa .fa-angle-left {
    width: 10px
}

body .main-header .sidebar-toggle:before {
    content: none
}

body .main-sidebar .user-panel:after,body .main-sidebar .user-panel:before {
    content: none;
    display: none
}

body .main-sidebar .treeview span.pull-right-container .fa-angle-left {
    height: 20px
}
