@import url(https://fonts.googleapis.com/css?family=Rubik:400,400i&display=swap);

#article-index h1 {
    display: inline-block
}

#article-index .search-button {
    cursor: pointer
}

.article-item {
    margin-bottom: 15px
}

.article-item .article-title,.article-item .article-title a {
    color: inherit;
    margin: 0
}

.article-item .article-meta,.article-item .article-meta a {
    color: #999;
    font-size: .85em
}

.article-item .article-meta a {
    text-decoration: underline
}

.article-item .article-thumb {
    margin-right: 10px;
    margin-bottom: 10px
}

.article-item .article-text {
    margin-top: 7px
}

body,html {
    color: #90a4ae;
    height: 100%;
    font-family: Rubik,sans-serif;
    font-size: 19px
}

@media only screen and (max-width: 529px),only screen and (min-width:530px) and (max-width:949px) {
    body,html {
        font-size:14px
    }
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px
}

.wrap>.container {
    padding: 70px 15px 20px
}

.jumbotron {
    text-align: center;
    background-color: transparent
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px
}

.not-set {
    color: #c55;
    font-style: italic
}

a.asc:after,a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: Glyphicons Halflings;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    padding-left: 5px
}

a.asc:after {
    content: "\e151"
}

a.desc:after {
    content: "\e152"
}

.sort-numerical a.asc:after {
    content: "\e153"
}

.sort-numerical a.desc:after {
    content: "\e154"
}

.sort-ordinal a.asc:after {
    content: "\e155"
}

.sort-ordinal a.desc:after {
    content: "\e156"
}

.grid-view th {
    white-space: nowrap
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px
}

.form-group {
    margin-bottom: 25px
}


.is-invalid~.invalid-feedback {
    display: block
}

.input-group .tt-scrollable-menu {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-bottom: 0;
    position: relative;
    width: 1%
}
.content-wrapper {
    max-width:1200px
}
